/************/
/* Home Page */
/************/


/**********/
/* Profiles */
/**********/

.name{
  text-align: center;
  position: absolute;
  top: 38%;
  left: 15%;

}

.spacing{
    letter-spacing: 0.5em;
}

.name-header{
  height: 300px;
  position: relative;
}



/************/
/* NAV BAR */
/************/


/**********/
/* MISC */
/**********/
