/************/
/* Home Page */
/************/

#welcome{
  background-image: url("../images/queens.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 40vh;
}

.welcome-title{
  text-align: center;
}

.responsive-btn{
  margin-bottom: 1em;
}

/**********/
/* Profiles */
/**********/

.name{
  text-align: center;
}

.spacing{
  letter-spacing: 0.5em;
}

img{
  width: 100%;
}

/**********/
/* Footer */
/**********/

footer{
  text-align: center;
  opacity: 0.5;
}
